body,h1,h2,ul,li,nav,section,footer {
  margin: 0px;
}

nav {
  background-color: #c4ff6b;
  padding: 10px;
}

section {
  background-color: #c2ff99;
  text-align: center;
}

ul li {
  background-color: #ffffff;
  display: inline;
  padding: 4px;
}

ul {
  text-align: center;
}

section div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* justify-items: center; */
  align-items: center;
}

section div h1{
  grid-column: 1/4;
  padding: 2rem 0rem 1rem;
}

img {
  max-width: 100%;
}

div img{
  grid-column: 2;
}

section div p{
  grid-column: 3/5;
  padding: 1rem;
  align-items: center;
}

section h1{
  
}



